<a href="https://colab.research.google.com/github/ramaskuuuy/103112400154_Muhammad-Nur-Ramadhani/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MODUL-1 : Introduction to Phyton

Practical Objectives:
1. Students know installation and working environment in Python (using Terminal and
Jupyter Notebook).
2. Students understand how to create programs in Python.
3. Students know the main features available in Python.

## 1.1 Python as a Calculator

Python follows standard mathematical operation precedence rules when executing
arithmetic expressions. This rule is also known as PEMDAS (Parentheses,
Exponents, Multiplication and Division, Addition and Substraction). Python operation
priorities are listed in Table 1.

In [103]:
2 + 2

4

In [104]:
5 * 5

25

In [105]:
10 - 5

5

In [106]:
(3 + 2) * 5

25

In [107]:
5 - 3 * 2

-1

In [108]:
10 / 2

5.0

In [109]:
10 // 2

5

In [110]:
15 / 4

3.75

In [111]:
15 // 4

3

## Data Type String
String dalam Python adalah tipe data yang digunakan untuk merepresentasikan teks. String merupakan urutan karakter yang didefinisikan di dalam tanda kutip ('…' / "…"). Berikut adalah cara mendefinisikan string:

In [112]:
str = " Hello , Word! "
print(str)

 Hello , Word!

In [113]:
str1 = "Helo"
str2 = "Word"
result = str1 + " " + str2
print(result)

Helo Word

In [114]:
str = "Hello"
result = str * 3
print(str)

Hello

In [115]:
str = "DKA"
first_char = str[0] # indeks dimulai dari 0
last_char = str[-1] # indeks -1 adalah indeks terakhir
print(first_char, last_char)

D A

In [116]:
str = "Hello, World!"
sliced = str[0:5] # Mengambil karakter ke 0 – 5
print(sliced)

Hello

In [117]:
str = "Hello, World!"
print(len(str))

13

In [118]:
str = "Hello, World!"
print(str.upper()) # Upper untuk kapital

HELLO, WORLD!

In [119]:
str = "Hello, World!"
print(str.lower()) # lower untuk huruf keci;

hello, world!

In [120]:
str = " Hello, World! "
print(str.strip()) #strip untuk menghapus spasi berlebih

Hello, World!

In [121]:
str = "Hello, World!"
replaced = str.replace("World", "Dunia") # .replace([old], [new])
print(replaced)

Hello, Dunia!

## Data Type List
List adalah struktur data yang digunakan untuk menyimpan sekumpulan elemen dalam satu variabel. List dapat berisi berbagai tipe data, seperti angka, string, atau bahkan list lainnya. List didefinisikan menggunakan tanda kurung siku [ ], dengan elemen-elemen di dalamnya dipisahkan oleh tanda koma. Berikut adalah contoh pendefinisian list:

In [122]:
list_of_numbers = [1,3,5,10]
print(list_of_numbers)

[1, 3, 5, 10]

In [123]:
list_of_strings = ["dasar", "kecerdasan", "artifisial"]
print(list_of_strings)

['dasar', 'kecerdasan', 'artifisial']

In [124]:
list_of_items = [1, "hello", ["ini", "list"]]
print(list_of_items)

[1, 'hello', ['ini', 'list']]

In [125]:
my_list = [1, 3, 5, "DKA", True]
# Fetching elements based on index
first_elm = my_list[0]
second_elm = my_list[1]
last_elm = my_list[-1]
second_last_elm = my_list[-2]
# Print results
print(first_elm, second_elm, last_elm, second_last_elm)

1 3 True DKA

In [126]:
my_list = [1, 3, 5, "DKA", True]
elms = my_list[1:4] # Mengambil anggota ke 1 – 4 dalam list
print(elms)

[3, 5, 'DKA']

In [127]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
first_five = numbers[:5] # Take the first 5 members
last_three = numbers[-3:] # Takes the last 3 members
print(first_five)
print(last_three)

[1, 2, 3, 4, 5]
[8, 9, 10]

In [128]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers[0] = 24 # Change the value at index to 0
print(numbers)

[24, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [129]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [130]:
even_nums = [x for x in range(10) if x % 2 == 0]
print(even_nums)

[0, 2, 4, 6, 8]

In [131]:
fruits = ["apple", "banana", "cherry"]
uppercased = [fruit.upper() for fruit in fruits]
print(uppercased)

['APPLE', 'BANANA', 'CHERRY']

In [132]:
pairs = [(x,y) for x in range(2) for y in range(2)]
print(pairs)

[(0, 0), (0, 1), (1, 0), (1, 1)]

## Data Type Dictionary
Dictionary dalam Python adalah tipe data yang digunakan untuk menyimpan pasangan key-value (kunci-nilai). Setiap key dalam dictionary bersifat unik dan digunakan untuk mengakses value yang terkait dengannya. Dictionary didefinisikan menggunakan tanda kurung kurawal {} sebagai berikut:

In [133]:
my_dict = {
"nama": "Fizz",
"umur": 21,
"kota": "Bandung",
"universitas": "Telkom University"
}
print(my_dict["nama"])
print(my_dict["kota"])

Fizz
Bandung

In [134]:
my_dict = {
"nama": "Fizz",
"umur": 21,
"kota": "Bandung",
"universitas": "Telkom University"
}
# Added new items
my_dict["negara"] = "Indonesia"
print("Setelah ditambah data negara")
print(my_dict)
# Update values
print("Setelah nilai umur diperbarui")
my_dict["umur"] = 23
print(my_dict)

Setelah ditambah data negara
{'nama': 'Fizz', 'umur': 21, 'kota': 'Bandung', 'universitas': 'Telkom University', 'negara': 'Indonesia'}
Setelah nilai umur diperbarui
{'nama': 'Fizz', 'umur': 23, 'kota': 'Bandung', 'universitas': 'Telkom University', 'negara': 'Indonesia'}

In [137]:
my_dict = {
"nama": "Fizz",
"umur": 21,
"kota": "Bandung",
"universitas": "Telkom University"
}
# method 1
del my_dict["kota"] # Penghapusan data kota
# method 2
# Deleting city data and entering values into variables
kota = my_dict.pop("kota")
print(my_dict)

{'nama': 'Fizz', 'umur': 21, 'universitas': 'Telkom University'}

In [138]:
my_dict = {
"nama": "Fizz",
"umur": 21,
"kota": "Bandung",
"universitas": "Telkom University"
}
kunci = my_dict.keys()
nilai = my_dict.values()
print("kunci:", kunci)
print("nilai:", nilai)

kunci: dict_keys(['nama', 'umur', 'kota', 'universitas'])
nilai: dict_values(['Fizz', 21, 'Bandung', 'Telkom University'])

In [139]:
my_dict = {
    "nama": "Fizz",
    "umur": 21,
    "kota": "Bandung",
    "universitas": "Telkom University"
}
for key, value in my_dict.items():
    print("Value of", key, "is", value)

Value of nama is Fizz
Value of umur is 21
Value of kota is Bandung
Value of universitas is Telkom University

In [140]:
my_dict = {
    "nama": "Fizz",
    "umur": 21,
    "kota": "Bandung",
    "universitas": "Telkom University"
}
# Checks whether the key 'name' exists in my_dict
if "nama" in my_dict:
    print("Name key found")
else:
    print("Name key not found")
# Checks whether the key 'country' exists in my_dict
if "negara" in my_dict:
    print("Country key found")
else:
    print("Country key not found")

Name key found
Country key not found

In [141]:
# Create an empty set
my_set = set()
# Create sets with multiple elements
my_set = {1, 2, 3, "apple", 3.14}
print(my_set)

{1, 2, 3.14, 3, 'apple'}

In [142]:
my_set = {1, 2, 3, "apple", 3.14}
my_set.add("orange")
print(my_set)

{1, 2, 3.14, 3, 'apple', 'orange'}

In [143]:
my_set = {1, 2, 3, "apple", 3.14}
# Will error if apple is not set
my_set.remove("apple")
# There will be no error if banana is not set
my_set.remove("banana")
print(my_set)

KeyError: 'banana'

In [144]:
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
union_set = set_1 | set_2
print(union_set)

{1, 2, 3, 4, 5}

In [145]:
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
intersection_set = set_1 & set_2
print(intersection_set)

{3}

In [146]:
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
difference_set = set_1 - set_2
print(difference_set)

{1, 2}

In [147]:
et_1 = {1, 2, 3}
set_2 = {3, 4, 5}
symmetric_difference_set = set_1 ^ set_2
print(symmetric_difference_set)

{1, 2, 4, 5}

In [148]:
set_1 = {1, 2, 3}
if 3 in set_1:
    print("3 is in set_1")
else:
    print("3 is not in set_1")

3 is in set_1

In [149]:
set_1 = {1, 2, 3}
print(len(set_1))

3

In [150]:
is_student = True
informatics_student = False
print(is_student, informatics_student)

True False

In [151]:
x = 10
y = 20

print(x < y) #true
print(x > y) # faklse

True
False

In [152]:
a = True
b = False
print(a and b) # False
print(a or b) # True
print(not a) # False

False
True
False

In [159]:
is_raining = True

if is_raining:
    print("Bring an umbrella!")
else:
    print("No umbrella needed.")

Bring an umbrella!

In [163]:
 #Asks the user to enter a name
name = input("Enter your name: ")
print("Hello," ,name)

Enter your name: rama
Hello, rama

In [164]:
# Request and convert input from the user
age = int(input("Enter your age: ")) # Casting to integer
print("Next year, your age will be:", age+1)

Enter your age: 17
Next year, your age will be: 18

In [165]:
print("Hello, World!")
name = "Fizz"
print("My name is", name)

Hello, World!
My name is Fizz

In [166]:
# penggunaan format %
name = "Fizz"
age = 21
print("My name is %s and I'm old %d year." % (name, age))
# %s : used to insert strings
# %d : used to insert an integer
# %f : used to insert floa

My name is Fizz and I'm old 21 year.

In [168]:
# penggunaan str.format()
name = "Fizz"
age = 21
print("My name is {} and I am {} year.".format(name, age))

My name is Fizz and I am 21 year.

In [169]:
name = "Fizz"
age = 21
print (f"My name is {name} and I am {age} year.")

My name is Fizz and I am 21 year.

In [170]:
numbers = list(range(10))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [175]:
fruits = ["apple", "orange", "tomato", "papaya", "pear"]
for i in range(0, len(fruits), 2):
    print(fruits[i])

apple
tomato
pear

In [178]:
for i in range(3, 0, -1):
    print(1)

1
1
1

In [180]:
x = 10
if x > 5 :
  print("x is greater than 5")

x is greater than 5

In [181]:
x = 10
if x > 3 :
  print("x is greater than 3")
if x > 5 :
  print("x is greater than 5")

x is greater than 3
x is greater than 5

In [182]:
x = 10
if x < 5 :
  print("x is less than 5")
elif x < 7 :
  print("x is less than 7")
else :
  print("x is greater than or equal to 7")

x is greater than or equal to 7

In [184]:
x = 10
if x < 5 :
  print("x is less than 5")
else :
  print("x is greater than or equal to 5")

x is greater than or equal to 5

In [185]:
x = 8
if x < 5 :
  print("x is less than 5")
elif x < 7 :
  print("x is less than 7")
elif x < 9 :
  print("x is less than 9")
else :
  print("x is greater than or equal to 7")

x is less than 9

In [1]:
count = 1

while count <= 3 :
  print(count, end=' ')
  count += 1

1 2 3

In [190]:
number = 10
while number > 0:
  number -= 1
  if number == 5 :
    print("Stop at 5")
    break # Forcibly stops the loop

Stop at 5

In [191]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits :
  print(fruit)

apple
banana
cherry

In [2]:
for char in "DKA" :
  print(char)

D
K
A

In [3]:
for i in range(5) :
  print(i)

0
1
2
3
4

In [4]:
def hello_world():
  print("Hello, World!")
# call the function
hello_world()

Hello, World!

In [5]:
def greet(name):
  print(f"Halo, {name}!")
greet("Fizz")

Halo, Fizz!

In [6]:
def add(a, b):
  return a + b
result = add(5,3)
print(result)

8

In [7]:
# name is the positional argument, message is the keyword argument
def greet(name, message="Welcome!"):
  print(f"{message}, {name}")
greet("Fizz") # Use the value for the default message
greet("Buzz", "Halo") # Override the default value for message

Welcome!, Fizz
Halo, Buzz

In [10]:
def sum(*args):
  return sum(args)

  print(sum(1, 2, 3, 4, 5))

In [12]:
def print_info(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")
print_info(nama="Fizz", umur=21, universitas="Telkom University")

nama: Fizz
umur: 21
universitas: Telkom University

In [13]:
# Lambda function to add two numbers
add = lambda x, y: x + y
print(add(3,4))

7